@import "../../../../Misc/colors.scss";

.popup-container{
    display: flex;
    background-color: white;
    border: 1px solid $BlackCommon;
    min-width: 500px;
    min-height: 200px;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.public-url-container{
    background-color: transparent;
    display: inline-block;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    margin: auto;
    font-size: 14px;
}

.input-wrapper{
    display: flex;
    cursor: pointer;
    &:hover{
        background-color: rgba(158, 158, 158, 0.5);
    }
}

.copy-ico{

    padding: 5px;

}

.fake-textarea{
    display: none;
}
