.uploads-container {
    min-width: 50px;
    min-height: 50px;
    border: 1px solid black;
    padding:20px;
    border-radius: 15px;
    background-color: white;
}

.loading-center{
    margin:auto;
}

.empty-label{
    font-size: 14px;
    line-height: 24px;
}
