{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-property-sort-order-smacss",
    "stylelint-prettier/recommended",
    "stylelint-config-css-modules"
  ],
  "customSyntax": "postcss-scss",
  "plugins": ["stylelint-prettier"],
  "rules": {
    "prettier/prettier": true,
    "selector-pseudo-element-no-unknown": true,
    "at-rule-no-unknown": null
  }
}
