@import '../../Misc/colors.scss';

.profile-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(288.67deg, #484848 0%, #484848 36%, #fff 36.03%, #fff 100%);
}

.centered-container {
    display: flex;
    position: absolute;
    top: 20%;
    left: 40%;
    flex-direction: column;
    min-width: 600px;
    min-height: 800px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 91px rgb(0 0 0 / 14%);
}

.text-centered {
    text-align: center;
}

.silenced {
    align-content: flex-start;
    font-size: 9px;
    font-weight: 400;
    line-height: 9px;
    user-select: none;
}

.profile-form {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    min-height: 500px;
    margin: auto;

    * {
        padding: 5px 0;
    }
}

.save-btn {
    width: 100%;
    margin: 30px auto 15px;
    border-radius: 6px;
    font-family: 'Montserrat SemiBold';
    font-size: 14px;
    letter-spacing: 0.1;
    text-transform: none;
}

.save-btn:hover {
    background-color: $G3Hover;
}

.cancel-btn {
    width: 100%;
    margin-right: 11px;
    border-radius: 6px;
    background-color: $Gray;
    color: $TextColor;
    text-transform: none;

    &:hover {
        background-color: #bebcb5;
    }
}

.nav-link {
    display: inline-block;
    width: 100%;
    color: $TextColor;
    font-family: 'Montserrat SemiBold';
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.login-header {
    user-select: none;
}

.user-name {
    display: block;
    text-align: center;
}

.centered {
    text-align: center;
}

.avatar-img {
    max-width: 140px;
    margin: 5px auto 15px;
    padding: 1px;
    border-radius: 20px;
    background-color: graytransparent(0.8);
    box-shadow: 0 0 15px rgb(0 0 0 / 40%);
}

input[type='file'] {
    display: none;
}

.avatar-input {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.avatar-upload-label {
    display: block;
    max-width: 200px;
    margin: 0 auto 15px;
    padding: 10px 15px;
    border-radius: 6px;
    background-color: graytransparent(0.8);
    font-weight: bold;
    cursor: pointer;
    filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));

    &:hover {
        background-color: #bebcb5;
    }
}

.avatar-container {
    text-align: center;
}
