.container {
    display: grid;
    grid-template-rows: 1fr 15fr;
    width: 1170px;
    min-width: 80%;
    height: 100%;
    margin: 0 auto;
}

.container-full {
    display: grid;
    grid-template-rows: 1fr 15fr;
    width: 100%;
    min-width: 80%;
    height: 100%;
    margin: 0 auto;
}

.header-container {
    width: 97%;
    min-width: 80%;
    margin: 0 auto;
}

.content {
    box-sizing: border-box;
    margin: 0 15px;
    padding: 0 15px;
}
