@import '../../Misc/colors.scss';

.centered-container {
    position: absolute;
    top: 30%;
    left: 40%;
    min-width: 389px;
    min-height: 389px;
    border-radius: 12px;
    background-color: rgb(218 215 205 / 50%);
    box-shadow: 0 0 91px rgb(0 0 0 / 14%);
}

.text-centered {
    text-align: center;
}

.silenced {
    align-content: flex-start;
    font-size: 9px;
    font-weight: 400;
    line-height: 9px;
    user-select: none;
}

.login-form {
    margin: 75px 55px 55px;
}

.login-btn {
    width: 100%;
    margin: 30px auto 15px;
    border-radius: 6px;
    font-family: 'Montserrat SemiBold';
    font-size: 14px;
    letter-spacing: 0.1;
    text-transform: none;
}

.login-btn:hover {
    background-color: $G3Hover;
}

.nav-link {
    display: inline-block;
    width: 100%;
    color: $TextColor;
    font-family: 'Montserrat SemiBold';
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.login-header {
    user-select: none;
}

.remember-me{
    appearance: none;
	background-color: #fafafa;
    margin-right: 10px;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;

    &:checked{
        background-color: #e9ecee;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #99a1a7;
        &::after{
            content: '\2714';
            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: $TextColor;
        }
    }
}

.remember-me-label{
    display: inline-block;
    line-height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.checkbox-container{
    display: flex;
    margin: 20px 0;
    
}
