@import '../../Misc/colors.scss';

.centered-container {
    display: flex;
    position: absolute;
    top: 30%;
    left: 40%;
    flex-direction: column;
    width: 410px;
    height: 490px;
}

.container {
    box-sizing: border-box;
    height: 100%;
    padding: 30px;
    background: linear-gradient(279.04deg, #fff 0%, #fff 65%, #484848 65.1%, #484848 100%);
}

.column {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    margin: 0;
    color: $Background;
    font-size: 4em;
    text-decoration: none;
    user-select: none;
}

.logo-link {
    text-decoration: none;
}

.lock-img {
    display: block;
    margin: 23px auto 50px auto;
}

.text-centered {
    text-align: center;
}

.silenced {
    align-content: flex-start;
    font-size: 9px;
    font-weight: 400;
    line-height: 9px;
    user-select: none;
}

.login-form {
    padding-right: 35px;
    padding-bottom: 38px;
    padding-left: 35px;
    background-color: $Background;
    box-shadow: 0 0 35px 1px rgb(0 0 0 / 15%);
}

.login-btn {
    width: 100%;
    height: 51px;
    margin: 30px auto 15px;
    border-radius: 6px;
    color: white;
    font-family: 'Montserrat SemiBold';
    font-size: 14px;
    letter-spacing: 0.1;
    text-transform: none;
}

.login-input {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: 100%;
    padding-left: 10px;
    border-bottom: 1px solid $BlackCommon;

    & .email-ico {
        margin: auto;
    }

    & input {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 5px;
        padding-left: 10px;
        border: none;
        outline: none;
        font-family: 'Montserrat Medium';
        font-size: 16px;
    }
}

.nav-link {
    display: inline-block;
    width: 100%;
    color: $TextColor;
    color: $TextColor;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.login-header {
    user-select: none;
}

.optins-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
}

.forget-password-link {
    font-family: Montserrat;
    font-size: 12px;
    text-decoration: none;
}

.remember-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.remember-me-checkbox {
    display: block;
    margin: auto;
}

.remember-me-title {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6px;
    font-size: 10px;
    font-weight: regular;
}

.oauth-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ya-btn {
    width: 200px;
    height: 44px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    transition: all 400ms ease 0s;

    &:hover{
        box-shadow: 0 5px 10px rgba(117, 117, 117, .7);
    }
}

.g-btn {
    width: 200px;
    height: 44px;
    outline: none;
}

.error-label {
    display: block;
    max-height: 100%;
    color: $Error;
    font-size: 12px;
    font-weight: 400;
    overflow-wrap: break-word;
}

.google-btn {
    width: 200px;
    height: 44px;
    background-color: #fcfcfc;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;
    user-select: none;
    display: flex;
    transition: all 400ms ease 0s;

    & .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        user-select: none
    }

    & .google-icon-svg {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
        user-select: none
    }

    & .btn-text {
        float: right;
        font-family: Montserrat;
        font-weight: regular;
        margin: auto 30px auto auto;
        color: #757575;
        font-size: 12px;
        letter-spacing: .2px;
        user-select: none
    }

    &:hover {
        box-shadow: 0 5px 10px rgba(117, 117, 117, .7);
        user-select: none
    }

    &:active {
        box-shadow: 0 1px 1px #757575;
        background: #F8F8F8;
        color: #fff;
        user-select: none
    }
}
