@import '../../Misc/colors.scss';

.column {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    margin: 0;
    color: $TextColor;
    font-size: 4em;
    text-decoration: none;
    user-select: none;
}

.logo-link {
    text-decoration: none;
}

.container {
    box-sizing: border-box;
    height: 100%;
    padding: 30px;
    background: linear-gradient(288.67deg, #484848 0%, #484848 36%, #fff 36.03%, #fff 100%);
}

.offer-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.tree-img {
    position: absolute;
    bottom: 0;
    left: 55%;
    width: 841.08px;
    height: 1033.04px;
}

.offer {
    position: absolute;
    top: 436px;
}

.offer-header {
    font-size: 40px;
    font-weight: bold;
}

.offer-text {
    max-width: 570px;
    font-size: 24px;
    line-height: 41px;
}

.login-btn {
    margin-top: 35px;
}
