@import '../../Misc/colors.scss';

.column {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    margin: 0;
    padding-top: 30px;
    color: $TextColor;
    font-size: 4em;
    text-decoration: none;
    user-select: none;
}

.logo-link {
    text-decoration: none;
}


.offer-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.tree-img {
    position: absolute;
    bottom: 0;
    left: 55%;
    width: 841.08px;
    height: 1033.04px;
}



.offer-header {
    font-size: 200%;
    font-weight: bold;
}

.offer-text {
    max-width: 570px;
    font-size: 130%;
    line-height: 150%;
}

.login-btn {
    margin-top: 35px;
}

// desktop
@media screen and (min-width: 1024px){
    .container {
        box-sizing: border-box;
        min-height: 100vh;
        background: linear-gradient(288.67deg, #484848 0%, #484848 36%, #fff 36.03%, #fff 100%);
    }

    .offer {
        position: absolute;
        bottom: 40%;
    }

    .offer-header {
        font-size: 300%;
        font-weight: bold;
    }
    
    .offer-text {
        max-width: 570px;
        font-size: 150%;
        line-height: 150%;
    }
}

// tablet
@media screen and (min-width: 768px) and (max-width: 1023px){
    .container {
        box-sizing: border-box;
        height: 100vh;
        padding: 10px;
        background: linear-gradient(330deg, #484848 0%, #484848 46%, #fff 46.03%, #fff 100%);
    }

    .offer {
        position: absolute;
        bottom: 50%;
    }
}

// phone
@media screen and (max-width: 767px){
    .container {
        box-sizing: border-box;
        height: 100%;
        padding: 10px;
        background: linear-gradient(220deg, #484848 0%, #484848 20%, #fff 20.2%, #fff 100%);
    }

    .logo {
        margin: 0;
        padding-top: 30px;
        color: $TextColor;
        font-size: 3em;
        text-decoration: none;
        user-select: none;
    }
    
    .logo-link {
        text-decoration: none;
    }

    .offer {
        max-width: 95%;
        box-sizing: border-box;
        margin-top: auto;
        margin-bottom: 20%;
    }

    .column {
        max-width: 95%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }

    .login-btn {
        margin-top: 35px;
        margin-left: auto;
    }
}


