@import '../../Misc/colors.scss';

.back-img-tree {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 800px;
    height: 900px;
    background-image: url('../../../static/assets/tree.png');
    background-repeat: no-repeat;
}

.offer-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.tree-img {
    position: absolute;
    bottom: 0;
    left: 55%;
    width: 841.08px;
    height: 1033.04px;
}

.offer {
    position: absolute;
    top: 436px;
}

.offer-header {
    font-size: 40px;
    font-weight: bold;
}

.offer-text {
    max-width: 570px;
    font-size: 24px;
    line-height: 41px;
}

.login-btn {
    margin-top: 35px;
}
