@import '../../Misc/colors.scss';

.primary-button {
    display: block;
    min-width: 170px;
    height: 41px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    border-radius: 37px;
    background-color: $BlackCommon;
    color: $Gray;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-transform: lowercase;
    cursor: pointer;
    user-select: none;
    filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));

    &:hover {
        background-color: $BlackCommonHover;
    }
}

.button-content{
    position: absolute;
    right: 20px;
    bottom: -5px;
}
