@import '../../Misc/colors.scss';

.add-container {
    padding: 5px;
    border: 1px solid $G2;
    border-radius: 6px;
    background-color: $Gray;
}

.add-container-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        box-sizing: border-box;
        padding: 5px 15px;
        cursor: pointer;

        &:hover {
            background-color: rgb(200 200 200);
        }
    }
}

.plus-icon {
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
}

.add-btn-container {
    width: 100%;
    height: 100%;
    margin: auto;
}
