@import '../../Misc/colors.scss';

.more-actions {
    display: none;
    cursor: pointer;
}

.note-container {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    margin: 5px;
    padding: 5px;
    border: 1px solid $Background;
    border-radius: 6px;
    background-color: white;
    color: $TextColor;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        border: 1px solid $G2;

        & .more-actions {
            display: block;
        }
    }
}

.note-container-selected {
    background-color: rgb(207 216 157);
}

.note-circle {
    margin: auto;
}

.note-name {
    margin: auto;
}

.note-circle-container {
    display: flex;
}



.context-container {
    padding: 5px;
    border: 1px solid $G2;
    border-radius: 6px;
    background-color: $Gray;
}

.context-container-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        box-sizing: border-box;
        padding: 5px 15px;
        cursor: pointer;

        &:hover {
            background-color: rgb(200 200 200);
        }
    }
}
