@import '../../Misc/colors.scss';

.favicon-img {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.menu-list {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0;
    list-style: none;
    justify-content: flex-start;
    flex-grow: 1;
}

.menu-list > li {
    display: inline-block;
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}

.menu-list > li > img {
    margin: auto;
}

.profile-info {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    justify-content: flex-end;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.nav-link {
    color: $TextColor;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.avatar {
    display: inline-flex;
    width: 44px;
    height: 44px;
    margin-left: 16px;
    float: right;
    border-radius: 11px;
    background-color: black;
    vertical-align: middle;
}

.header-row {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.user-name-link {
    display: inline-block;
    margin: auto 0;
}

.context-field {
    padding: 5px 0;
    border: 1px solid $G2;
    border-radius: 6px;
    background-color: $Gray;
    text-align: left;
}

.profile-context-header {
    display: block;
    margin: 5px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid $G4;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.popup-container{
    display: flex;
}

.avatar-img{
    max-width: 60px;
    padding: 1px;
    margin: 0 0 0 15px;
    background-color: GrayTransparent(0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4)  ;
}

.profile-context-option {
    margin: 10px auto;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    a{
        outline: none;
        text-decoration: none;
        &:visited{
            color:inherit;
        }
    }

    &:hover {
        background-color: rgb(200 200 200);
    }
}

@keyframes anvil {
    0% {
        transform: scale(1) translateY(0);
        opacity: 0;
        box-shadow: 0 0 0 rgb(241 241 241 / 0%);
    }

    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgb(241 241 241 / 0%);
    }

    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
        box-shadow: 0 0 500px rgb(241 241 241 / 0%);
    }
}

.popup-content {
    animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.search-element{
   flex-grow: 10 !important;
    display: flex !important;
}
