@import '../../Misc/colors.scss';

.notebook-create-popup-container {
    display: flex;
    min-width: 500px;
    padding: 15px;
    border: 1px solid $G2;
    background-color: $Gray;
}

.notebook-create-btn {
    margin-left: 15px;
    border-radius: 4px;
}
