@import '../../Misc/colors.scss';

.centered-container {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 40%;
    min-width: 389px;
    max-width: 40em;
    min-height: 389px;
    border-radius: 12px;
    background-color: rgb(218 215 205 / 50%);
    box-shadow: 0 0 91px rgb(0 0 0 / 14%);
}

.text-centered {
    text-align: center;
}

.silenced {
    align-content: flex-start;
    font-size: 9px;
    font-weight: 400;
    line-height: 9px;
    user-select: none;
}

.register-form {
    margin: 75px 55px 55px;
}

.register-btn {
    width: 100%;
    margin: 30px auto 15px;
    border-radius: 6px;
    font-family: 'Montserrat SemiBold';
    font-size: 14px;
    letter-spacing: 0.1;
    text-transform: none;
}

.register-btn:hover {
    background-color: $G3Hover;
}

.nav-link {
    display: inline-block;
    width: 100%;
    color: $TextColor;
    font-family: 'Montserrat SemiBold';
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.register-header {
    user-select: none;
}
